$dark-green: #2b8500 !default;
$white: #ffffff !default;
$yellow: #fbe500 !default;
$blue: #1c0063 !default;
$grey: #b1b1b1 !default;
$dark-grey: #6b6b6b !default;
$light-grey: #c3c3c3 !default;
$light-grey-2: #ced2e0 !default;
$light-grey-3: #d8d8d8 !default;
